<a href="https://colab.research.google.com/github/rishik0910/python-for-data-science/blob/main/Untitled4_(lab_6).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
 import pandas as pd
 data = {
 "TransactionID": [101, 102, 103, 104, 105, 101, 103],
 "Customer": ["Alice", "Bob", "Charlie", "David", "Eva", "Alice", "Charlie"],
 "Product": ["Shoes", "Shirt", "Bag", "Watch", "Shoes", "Shoes", "Bag"],
 "Amount": [200, 500, 700, 1000, 200, 200, 700],
 "Date": ["2025-01-01", "2025-01-02", "2025-01-03",
 "2025-01-04", "2025-01-05", "2025-01-01", "2025-01-03"]
 }
 df = pd.DataFrame(data)
 print("Original Dataset:")
 print(df)
 print("\nDuplicate count:", df.duplicated().sum())
 df_cleaned = df.drop_duplicates()
 print("\nCleaned Dataset:")
 print(df_cleaned)
 print("\nDuplicate count after cleaning:", df_cleaned.duplicated().sum())

Original Dataset:
   TransactionID Customer Product  Amount        Date
0            101    Alice   Shoes     200  2025-01-01
1            102      Bob   Shirt     500  2025-01-02
2            103  Charlie     Bag     700  2025-01-03
3            104    David   Watch    1000  2025-01-04
4            105      Eva   Shoes     200  2025-01-05
5            101    Alice   Shoes     200  2025-01-01
6            103  Charlie     Bag     700  2025-01-03

Duplicate count: 2

Cleaned Dataset:
   TransactionID Customer Product  Amount        Date
0            101    Alice   Shoes     200  2025-01-01
1            102      Bob   Shirt     500  2025-01-02
2            103  Charlie     Bag     700  2025-01-03
3            104    David   Watch    1000  2025-01-04
4            105      Eva   Shoes     200  2025-01-05

Duplicate count after cleaning: 0

In [4]:
 import pandas as pd
 data = {
 "EmployeeID": [1, 2, 3, 4],
 "Name": ["Alice", "Bob", "Charlie", "David"],
 "Salary": ["50000", "60000", "55000", "75000"],
 "Joining_Date": ["2023-01-15", "2022-11-20", "2021-07-05", "2020-03-10"]
 }
 df = pd.DataFrame(data)
 print("Original Dataset:")
 print(df)
 print("\nOriginal Data Types:")
 print(df.dtypes)
 df["Salary"] = pd.to_numeric(df["Salary"])
 df["Joining_Date"] = pd.to_datetime(df["Joining_Date"])
 print("\nCleaned Dataset:")
 print(df)
 print("\nCorrected Data Types:")
 print(df.dtypes)

Original Dataset:
   EmployeeID     Name Salary Joining_Date
0           1    Alice  50000   2023-01-15
1           2      Bob  60000   2022-11-20
2           3  Charlie  55000   2021-07-05
3           4    David  75000   2020-03-10

Original Data Types:
EmployeeID       int64
Name            object
Salary          object
Joining_Date    object
dtype: object

Cleaned Dataset:
   EmployeeID     Name  Salary Joining_Date
0           1    Alice   50000   2023-01-15
1           2      Bob   60000   2022-11-20
2           3  Charlie   55000   2021-07-05
3           4    David   75000   2020-03-10

Corrected Data Types:
EmployeeID               int64
Name                    object
Salary                   int64
Joining_Date    datetime64[ns]
dtype: object